@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Muli:700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5% 10%;
  background: #131416;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 350px;
  grid-gap: 20px;
  grid-auto-flow: dense;
}

.img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.inner-container {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  align-content: end;
  padding: 1.3em;
  background: rgba(0, 0, 0, 0.4);
  transform: translateY(-100%);
  transition: all 1s ease;
}

.inner-container:hover .card {
  transform: translateY(0);
}

.card_category {
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  line-height: 18px;
  font-weight: 700;
  color: #ecf0f1;
  margin: 0;
}

.card-title {
  font-family: 'Libre Baskerville', serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: #ecf0f1;
  margin: 10px 0 0 0;
}

footer {
  font-family: Muli, sans-serif;
}

footer p {
  font-size: 1.2rem;
  color: white;
}

.social {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 2% 3%;
}

.social__links {
  text-decoration: none;
  color: rgb(157, 157, 157);
  cursor: pointer;
  display: block;
  margin: 1em 0;
}

.social__links:hover {
  color: white;
}

@media only screen and (max-width: 768px) {
  .social {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .social-media {
    text-align: center;
  }

  footer p {
    margin-top: 1em;
  }
}
